*{
  margin:0px;
  box-sizing: border-box;
  padding:0px;
  font-family: "Inter", sans-serif;
}
.nav--container{
  display: flex;
  justify-content: center;
  height: 3rem;
  background-color:#F55A5A;

  

}
.nav{
  padding:1rem;
  color:white;
  font-size: 1.2rem;
  

  
}
.card{
  display: flex;
  justify-content: center;
  margin-top:3rem;
  
}
.card-stats{
  margin-left:1rem;
}
.card--image{
  Width:13rem;
  Height:15rem;
  border-radius: 5px;
}
.card-title{
  font-size:25px;
  font-weight: bolder;
}

.card-date{
  font-size:12px;
  margin-top:10px;
  font-weight: bold;
}